body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  font-size: 62.5%;
}

.App {
  display: grid;
  grid-template-columns: 1fr 10fr;
  width: 100rem;
  margin: 0 auto;
  gap: 2rem;
}

.section-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.2rem;
}

.single-prod {
  width: 100%;
}

.prod-image {
  width: 100%;
  height: 15rem;
}

.prod-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading-fifth,
.prod-price {
  font-size: 1.4rem;
  font-weight: 500;
  color: #333;
}

.cat-active {
  color: red;
}
